@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Major+Mono+Display&display=swap');

.titleContainer {
  /* display: flex; */
  /* justify-content: center; */
  /* column-gap: 5em; */
  /* align-items: center; */
  height: 100vh;
  background: black;
  color: white;
  font-family: 'Afacad Flux', sans-serif;
  /* font-size: 2rem; */
  position: fixed;
  width: 100%;
  z-index: 10;
}


